body{
    margin:0;
    padding:0;
    overflow-x: hidden;
}
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
.clearfix {
    display: inline-block;
}
html[xmlns] .clearfix {
    display: block;
}
* html .clearfix {
    height: 1%;
}
#tagsubmit{
    background: #fff;
    padding:17px 8px 15px;
    font-weight: bold;
    font-family:arial;
    border:5px solid #BBF2CC;
    text-decoration: none;
    color:#000;
}
.container{
    width: 300px !important;
    height: inherit;
    margin: 0 auto;
}
.wrapper{width:91%;
margin: 0 auto;}
.row{
    width:100% !important;
    height:220px;
    float:left;
    text-align:center;
    display:table-cell;
    vertical-align:middle;
}
.container input{
    height:50px !important;
    max-width:400px;
    width:60% !important;
    margin:auto !important;
    border:5px solid #bbf2cc !important;
    font-weight:bold;
    font-size:18px !important;
    padding:0 10px !important;
    color:#000 !important;
}
.blue, .blue1{
    background:#99d9ea;
}
.bluenev{
    background:#99d9ea;
}
.pink-con input {
    width: 60%;
}
.blue span{
    height:inherit;
}
.bluenev span{
    height:inherit;
}
.blue form{
    height:inherit;
    width:300px;
    margin:auto;
}
.bluenev form{
    height:inherit;
    width:300px;
    margin:auto;
}
.yellow a{
    height:inherit;
}
.yellow, .yellow1{
    background:#fffa9b;
}
.pink, .pink1{
    background:#ff7979;
}

.pink a{
    height:inherit;
}
.green, .green1{
    background:#bbf2cc;
}
.green a, .pink-con{
    height:inherit;
    display:table-cell;
    width: 300px;
    text-align: center;
    vertical-align:middle;
}
.yellownev a{
    height:inherit;
}
.yellownev{
    background:#fffa9b;
}
.pinknev{
    background:#ff7979;
}

.pinknev a{
    height:inherit;
}
.greennev{
    background:#bbf2cc;
}
.greennev a, .pink-con{
    height:inherit;
    display:table-cell;
    width: 300px;
    text-align: center;
    vertical-align:middle;
}
#editoron{
    width:90%;
    margin: 0 auto;
}
#editoron iframe{
    width:99%;
    border: 5px solid #BBF2CC !important;
    color: #000000;
    font-size: 18px;
    font-weight: bold;
    margin: auto;
}

.file-upload {
    position: relative;
}
.file-upload input {
    position: absolute;
    visibility: hidden;
    top: 0;
    left: 0;
}
.overlay {background: rgba(0, 0, 0, 0.6); background-size:cover; width:324px; height:570px; position:absolute; z-index:999; top:0px;}
.loading_img { padding:250px 0 0 0; text-align:center}

/* file field stye*/
.file-upload {
                position: relative;
            }
            .file-upload input {
                position: absolute;
                visibility: hidden;
                top: 0;
                left: 0;
            }
            .overlay {background: rgba(0, 0, 0, 0.6); background-size:cover; width: 100%; height:570px; position:absolute; z-index:999; top:0px;}
            .loading_img { padding:250px 0 0 0; text-align:center}
            .header2 .navbar-inner{
                box-shadow: none;
                background: #99d9ea;
                height: 40px;
                box-shadow: 0 5px 10px #99D9EA !important;
            }
            .header2 .nav-collapse{
                display: block !important;
            }
            .header2 .nav > li > a{
                float:left;
            }
            .header2 .nav > li{
                float:left;
            }
            .header2 .navbar .nav > li{
                width: auto !important;
            }
            .header2 .right-con{
                float:right;
                width: 300px;
            }
            .header2 .right-con .container, .header2 .right-con .container .pink-con{
                width:100px !important;
            }
            .right-con ul{
                width: 300px;
                float:right;
                list-style-type: none;
            }
            .right-con li{
                width: 100px;
                text-align: center;
                padding: 2px 0;
                height:60px;
float:left            }
            .header2 .nav{
                width: 60% !important;
            }
            .header2 .col{
                width: 33.3%;
                float:left;
            }
            .header2 .col .col-con3{
                width: 300px;
                float:right;
            }
            .header2 .col img{
                height:40px !important;
            }
            
            .list-icon{
                float:left !important;
                width: 100px !important;
                text-align: center;
                height:40px;
            }
            
            .list-icon .container{
                width: 100px !important;
            }
            .header2 .btn-navbar, .header2 #search{
                margin: 2px 0 0 !important;
            }
            .home-icon{
                background-color: #E5E5E5;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.125) inset;
    color: #555555;
    text-decoration: none;
            margin-top: 10px;
            float:left}
            #form1{
                margin: 0 !important;
                 width: 100%;
            }
            #form1 .row{
                margin: 0 !important;
                 width: 100%;
            }
            #form1 #tagsubmit{
                float:right !important;
                padding: 15px 8px !important;
            }
            .header2 input{
                border: 2px solid #BBF2CC !important;
                height:30px !important;
            }
            .modal-header{
                margin-left: -30px !important;
            }
            .lightbox-content{
             top: 0px !important;
             margin: 0px !important;
            }
            #demoLightbox{
                top: 10px !important;
                bottom: 10px !important
            }